* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;

    background: #F3F3F3;

    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/*RECURRING BUTTON STYLE START*/
.lp-button {
    display: inline-block;
    box-sizing: border-box;

    padding: 0.725rem 2.3rem;

    border: none;
    border-radius: 0.25rem;

    background-color: #619EB3;

    font-weight: 300;
    font-size: 1vw;
    color: white;
    letter-spacing: 0.145rem;
    text-align: center;

    cursor: pointer;
}
/*RECURRING BUTTON STYLE END*/

/*NAVBAR START*/
nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    background-color: #FFFFFF;
}

nav #logo {
    margin-left: 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-right: 1rem;

    justify-content: space-between;
    align-items: center;

    list-style: none;
    align-items: center;

    font-weight: 100;
    font-size: 0.975vw;
    color: #619EB3;
}

nav ul li {
    margin: 0.8rem;
    letter-spacing: 0.125rem;
}
/*NAVBAR END*/

/*CALL TO ACTION START*/
.action {
    background: url('../img/action/2880x1150_lisa_fisher_on_couch-edit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding-top: 12vw;
    padding-bottom: 6vw;

    justify-content: center;
    align-items: center;
}

.action h1 {
    font-family: 'Helvetica', serif;
    letter-spacing: 0.222rem;
    font-weight: 100;
    font-size: 3vw;
    line-height: 4vw;

    color: #FFFFFF;
}

.action h1:last-of-type {
    margin-bottom: 0.875em;
}

.action p {
    color: #FFF;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.875vw;
    letter-spacing: 0.125rem;
}

.action p:last-of-type {
    margin-bottom: 5em;
}

.action img {
    width: 2.675vw;
    margin-right: 0.15rem;
}
/*CALL TO ACTION END*/
